<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--    雪花分布式id，每个服务层节点都不同-->
	<bean class="com.qingcheng.util.IdWorker" id="idWorker">
        <constructor-arg name="datacenterId" value="1"/>
        <constructor-arg name="workerId" value="1"/>
    </bean>

<!--    配置静态工厂-->
    <bean class="com.qingcheng.service.impl.RestFactoryBean" id="restHighLevelClient" factory-method="getRestHighLevelClient">
        <constructor-arg index="0" value="127.0.0.1"/>
        <constructor-arg index="1" value="9200"/>
        <constructor-arg index="2" value="http"/>
    </bean>
</beans>
